# 操作系统文件

# IDE 文件
.idea/
.vscode/
.claude/
*.iml

# 编译/构建输出
/build/
/dist/
/out/
/data/
/tmp/

# 依赖管理
/node_modules/
/vendor/

# 日志文件
*.log

CLAUDE.md
network.md
技术细则.md
问题.md

detach.py
utils.py

/__pycache__/

*.pdf

/logs/
/output_images/
/output_motion_fix/

/models/

log.txt

# 敏感信息
.env
config.js.local